/* STYLES FOR THE PUBLIC AREA */
/*
Colors:
Deep Union 			#056C98
Nothing Ordinary 	#548DA6
Perfect Day 		#F8F0C2
Ballpens 			#68B8DB
Kim Kardashian 		#3F525A
*/


@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

/****** BODY ******/

body {
	font-family: 'Nunito', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {
	max-width: 1000px; margin: 0 auto;
}

h1 {
	margin: .5em 0 1em 0; font-size: 2.5em; font-weight: 700;
}

h2 {
	margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700;
}

h3 {
	margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700;
}

h4{
	margin: 0 0 1em 0; font-size: 1.2em; font-weight: 700;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #68B8DB;
}

a:visited {
	color: #68B8DB;
}

hr {
	border: 0; height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

/****** NAVIGATION ******/

.navigation {
	background-color: rgba(0, 0, 0, .65);
	position: absolute; top: 0px; left: 0px;
	padding: 0;
	width: 100%; height: 60px;
	z-index: 1;
	margin: auto;
}

nav {
	margin: auto; max-width: 1000px;
	padding: 0;
	width: 100%;
	z-index: 1;
}

nav::after {
	content:''; display: block; clear: both;
}

nav ul {
	list-style: none; margin: 0; padding: 0;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: inline-block;
	color: #fff;
	padding: 20px 0;
	text-decoration: none;
	width: 120px;
	position: relative;
	text-align: center;
}

nav ul li a:hover {
	color: #fff; text-decoration: underline;
}

nav ul li a:visited {
	color: #fff;
}

/****** HEADER ******/

.index {
	height: 440px; position: relative;
}

.background {
	width: 100%; height: 440px;
	background: #056C98 url(/assets/header2_1600.png) no-repeat center bottom;
	position: absolute; left: 0; top: 0;
}

.show {
	height: 80px; position: relative;
}

header .logo {
	z-index: 2;
	position: absolute;	display: block; 
	top: 0; left: 0; padding: 13px 20px 13px 20px;
	color: #fff; text-decoration: none; font-weight: 400;
}

header .hero {
	position: absolute; 
	margin: auto; width: 60%; top: 130px; left: 20%;
	text-align: center;
	color: #fff;
}

header div p {
	
	font-size: 1.2em;
}

header div a.show-btn {
	position: relative; top: 20px;
	font-size: 1.4em; text-decoration: none; color: #fff;
	border-radius: 20px; border: 1px solid #fff; 
	padding: 4px 30px;
	transition: background-color .5s;
}

header div a.show-btn:hover {
	background-color: rgba(0, 0, 0, .3);
}

/****** ALL SECTIONS ******/

section {
	padding: 0 60px; 
}

section::after {
	content:''; display: block; clear: both;
}

/****** SECTION ABOUT ME ******/

section.about div {
	padding: 0 80px;
}

section.about div .picture {
	width: 40%; float: left;
}

section.about div aside.caption {
	padding-top: 5px;
	width: 60%; float: left;
	font-size: 1.2em;
}

section.about div aside.caption blockquote {
	margin: 4% 0 0 0; width: 70%;
	bottom: 0; right: 0;
	float: right;
	font-style: italic;
	position: relative;
}

section.about div aside.caption blockquote p::before {
	content:'\201c'; color: #3F525A;
	position: absolute;
	top: -30px; left: -44px;
	font-size: 5em;
	font-family: serif;
	font-style: normal;
}

section.about div aside.caption blockquote p::after {
	content: '\201d'; font-family: serif; font-style: oblique;
}

section.about div aside img {
	width: 90%; max-width: 240px;
}

section.about div article {
	padding-top: 40%;
	padding-bottom: 20px;
}

/****** SECTION SKILLS ******/

section.skills article {
	padding: 0 80px 40px 80px;
}

section.skills article .back {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	background: #F2F1F0;
	border-radius: 5px;
}


section.skills article .level {
	height: 30px;
	background: #A9C7BD;
	border-radius: 5px;
}

section.skills article .value {
	position: absolute; top: 0; right: 5px;
	line-height: 30px;
	font-size: .7em
}


section.skills article .skill {
	line-height: 30px; padding-left: 10px; color: #F2F1F0; font-weight: 400; font-size: 1.1em;
	max-width: 100px;
	height: 30px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

/****** SECTION WORK ******/

section.work {
	padding-bottom: 60px;
}

section.work div aside {
	padding: 10px;
	float: left;
}

/****** SECTION PROJECT-DETAILS ******/

section.project-details {
	position: relative;
	padding-top: 30px;
	padding-bottom: 80px;
}

section.project-details .project-nav-back {
	position: absolute; left: 10px;
}

section.project-details .project-nav-next {
	position: absolute; right: 10px;
}

section article {
	margin: 60px 0;
}

section article .abstract {
	font-size: 1.2em; margin-bottom: 30px;
}

section.project-details .showroom {
	position: relative;
}

section.project-details img {
	max-width: 60%; margin: 10px 0;
}

section.project-details .story {
	position: absolute; top: 10px; left: 62%; font-size: .9em;
}

section.project-details .facts {
	font-size: 2.2em; margin-top: 30px; color: #FFA734;
}


/****** FOOTER ******/

footer {
	background: #3F525A; color: #fff; padding: 20px 0;
}

footer .footer {
	max-width: 1000px; margin: auto; text-align: center;
}

footer a {
	color: #fff; font-size: .9em; text-decoration: none;
}

footer aside {
	display: inline;
}

footer img {
	width: 48px; margin: 0 20px;
}

footer .copyright {
	font-size: .8em;
	padding: 18px 0 0 0; margin: 0;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

