<header>
    <h1>Add new badge</h1>
</header>

<div class="section">
    <%= form_for(:badge, :url => {:action => 'create'}) do |f| %>
    
        <%= render(:partial => "form", :locals => {:f => f}) %>
        
        <div class="form-btn">
            <%= submit_tag("Create badge") %>
        </div>
    
    <% end %>
</div>