<h1>Add new skill</h1>

<%= form_for(:skill, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-btn">
        <%= submit_tag("Create skill") %>
    </div>

<% end %>