<header>
    <h1>Edit projects</h1>
</header>

<div class="section">
    <%= link_to("Back to list", {:action => 'show', :id => @project.id}) %>
    
    <%= form_for(:project, :url => {:action => 'update', :id => @project.id}) do |f| %>
    
        <%= render(:partial => "form", :locals => {:f => f}) %>
        
        <div class="form-btn">
            <%= submit_tag("Update project") %>
        </div>
        
    <% end %>
</div>