<header>
    <h1>Add new project</h1>
</header>

<div class="section">
    <%= link_to("Back to list", :action => 'index') %>
    
    <%= form_for(:project, :url => {:action => 'create'}) do |f| %>
    
        <%= render(:partial => "form", :locals => {:f => f}) %>
        
        <div class="form-btn">
            <%= submit_tag("Create project") %>
        </div>
    
    <% end %>
</div>