
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

/****** BODY ******/

body {
	font-family: 'Nunito', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding: 0;
}

#page {
	max-width: 1000px; margin: 0 auto;
}

h1 {
	margin: .5em 0 1em 0; font-size: 2.5em; font-weight: 700; color: #8E8F98;
}

h2 {
	margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700;
}

h3 {
	margin: 0 0 1em 0; font-size: 1.6em; font-weight: 700;
}

h4{
	margin: 0 0 1em 0; font-size: 1.2em; font-weight: 700;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: #53B5CC;
}

a:visited {
	color: #53B5CC;
}

hr {
	border: 0; height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

/****** NAVIGATION ******/

.navigation {
	background-color: rgba(23, 41, 58, 1);
	position: fixed; top: 0px; left: 0px;
	padding: 0;
	width: 100%; height: 60px;
	z-index: 1;
	margin: auto;
}

nav {
	margin: auto; 
	padding: 0;
	width: 100%;
	z-index: 1;
}

nav::after {
	content:''; display: block; clear: both;
}

nav ul {
	list-style: none; margin: 0; padding: 0;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: inline-block;
	color: #fff;
	padding: 20px 0;
	text-decoration: none;
	width: 120px;
	position: relative;
	text-align: center;
}

nav ul li a:hover {
	color: #fff; text-decoration: underline;
}

nav ul li a:visited {
	color: #fff;
}

/****** HEADER ******/

.index {
	height: 650px; position: relative;
}

.background {
	width: 100%; height: 650px;
	background: #284865 url(/assets/header4_1600.png) no-repeat center bottom;
	position: absolute; left: 0; top: 0;
}

.show {
	height: 80px; position: relative;
}

header .logo {
	z-index: 2;
	position: fixed; 
	top: 0; left: 0; padding: 0px 20px;
	color: #fff; text-decoration: none; font-weight: 400; font-size: 1.7em; line-height: 60px;
}

header .hero {
	position: absolute; 
	margin: auto; width: 80%; top: 190px; left: 10%;
	text-align: center;
	color: #fff;
}

header div p {
	
	font-size: 1.5em;
}

header div a.show-btn {
	position: relative; top: 20px;
	font-size: 1.8em; text-decoration: none; color: #fff;
	border-radius: 25px; border: 1px solid #fff; 
	padding: 5px 40px;
	transition: background-color .5s;
}

header div a.show-btn:hover {
	background-color: rgba(0, 0, 0, .5);
}

/****** ALL SECTIONS ******/

section {
	padding: 0 60px; 
}

section::after {
	content:''; display: block; clear: both;
}

/****** SECTION ABOUT ME ******/

section.about div {
	padding: 0 80px;
}

section.about div .picture {
	width: 40%; float: left;
}

section.about div aside.caption {
	padding-top: 5px;
	width: 60%; float: left;
	font-size: 1.2em;
}

section.about div aside.caption blockquote {
	margin: 4% 0 0 0; width: 70%;
	bottom: 0; right: 0;
	float: right;
	font-style: italic;
	position: relative;
}

section.about div aside.caption blockquote p::before {
	content:'\201c'; color: #8E8F98;
	position: absolute;
	top: -30px; left: -44px;
	font-size: 5em;
	font-family: serif;
	font-style: normal;
}

section.about div aside.caption blockquote p::after {
	content: '\201d'; font-family: serif; font-style: oblique;
}

section.about div aside img {
	width: 90%; max-width: 240px;
}

section.about div article {
	padding-top: 40%;
	padding-bottom: 20px;
}

/****** SECTION SKILLS ******/

section.skills article {
	padding: 0 80px 40px 80px;
}

section.skills article table {
	width: 100%;
	table-layout: fixed;
	text-align: center;
	font-size: .6em;
	border-collapse: collapse;
	margin-bottom: 10px;
}

section.skills article .divider {
	border-right: 1px solid #000;
}

section.skills article .back {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 25px;
	background: #D1D0D7;
	border-radius: 5px;
}

.toolset-title {
	text-align: center;
}


section.skills article .level {
	height: 25px;
	background: #284865;
	border-radius: 5px;
}

section.skills article .value {
	position: absolute; top: 0; right: 5px;
	line-height: 25px;
	font-size: .7em;
	color: #8E8F98;
}


section.skills article .skill {
	line-height: 25px; padding-left: 10px;
	color: #FFF; font-weight: 400;
}

/****** SECTION WORK ******/

section.work {
	padding-bottom: 60px;
}

section.work aside {
	position: relative;
	margin: 10px;
	float: left;
}

section.work aside .trans {
	position: absolute; left: 0; top: 0; display: table;
	width: 250px; height: 250px;
	text-align: center;
	font-weight: 400; font-size: 1.2em;
	color: rgba(255, 255, 255, 0);
	transition: all .5s;
}

section.work aside .trans p {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
}

section.work aside .trans:hover {
	background-color: rgba(0, 0, 0, .75);
	color: rgba(255, 255, 255, 1);
}

/****** SECTION PROJECT-DETAILS ******/

section.project-details {
	position: relative;
	padding-top: 30px;
	padding-bottom: 80px;
}

section.project-details .project-nav-back {
	position: absolute; left: 10px;
}

section.project-details .project-nav-next {
	position: absolute; right: 10px;
}

section article {
	margin: 60px 0;
}

section article .abstract {
	font-size: 1.2em; margin-bottom: 30px;
}

section.project-details .showroom {
	position: relative;
}

section.project-details img {
	max-width: 60%; margin: 10px 0;
}

section.project-details .story {
	position: absolute; top: 10px; left: 62%; font-size: .9em;
}

section.project-details .facts {
	font-size: 2.2em; margin-top: 30px; color: #AFC42F;
}

section.project-details .video {
	padding-bottom: 50px;
	text-align: center;
}

section.project-details .video iframe {
	width: 560px;
	height: 315px;
}


/****** FOOTER ******/

footer {
	background: #284865; color: #fff; padding: 20px 0;
}

footer .footer {
	max-width: 1000px; margin: auto; text-align: center;
}

footer a {
	color: #fff; font-size: .9em; text-decoration: none;
}

footer aside {
	display: inline;
}

footer img {
	width: 48px; margin: 20px;
}

footer .copyright {
	font-size: .8em;
	padding: 18px 0; margin: 0;
}

/* NEW SKILLS CSS FOR D3 ELEMENT */
/*
.skill-empty-column {
	display: inline-flex;
}
*/

.skills-flex-container {
	display: flex;
  justify-content: center;
  width: 100%;
}

.skills-graph-container {
	justify-content: center;
}

.back-bar {
	fill: #D1D0D7;
}

.data-bar {
	fill: #284865;
}

.skill-name {
	fill: #FFF;
	font-weight: 400;
}

.skill-value {
	fill: #8E8F98;
	font-weight: 400;
	font-size: 0.8em;
}

.skill-scale {
	fill: #555;
	font-weight: 700;
	font-size: 0.75em;
}

.scale-division {
	stroke: #555;
}

.legend-text {
	font-weight: 400;
	font-size: 0.8em;
}
/***** MEDIA QUERIES *****/

@media screen and (max-width: 850px) {
	
	header div p { font-size: 1.3em; }
	
	section { padding: 0 40px; }
	
	section.about div {	padding: 0 40px; }
	
	section.about div aside img { width: 90%; max-width: 240px; }
	
	section.about div article {	padding-top: 40%; padding-bottom: 20px;}
	
	/* Show page */
	
	section.project-details .facts { font-size: 1.8em; margin-top: 20px; max-width: 60%; }
	
}

@media screen and (max-width: 700px) {
	
	nav ul li a { width: 90px; font-size: 1em; }
	
	section.about div { position: relative; }
	
	section.about div .picture { width: 190px; }
	
	section.about div aside.caption { 
		position: absolute; top: 0; left: 230px; width: calc(100% - 260px);
		font-size: 1.1em;
	}
	
	section.about div aside.caption blockquote { 
		margin: 0; min-width: 450px;
		float: none; position: absolute; top: 200px; left: -160px; 
	}
	
	section.about div article {	padding-top: 260px; }
	
	section.skills article { padding: 0 40px 20px 40px; }
	
	/* Show page */
	
	section.project-details .showroom { position: inherit; text-align: center; }
	
	section.project-details img { max-width: 80%; margin: 10px 20px; }
	
	section.project-details .story { position: inherit;	text-align: left; margin-top: 10px;}
	
	section.project-details .facts { font-size: 1.6em; max-width: 100%; }
	
}

@media screen and (max-width: 595px) {
	
	header .logo { display: none; }
	
	header div a.show-btn { font-size: 1.4em; border-radius: 20px; padding: 4px 30px; }
	
	.navigation { height: 50px; }
	
	nav ul li { float: right; width: 25%; }
	
	nav ul li a { width: 100%; font-size: .9em; padding: 15px 0; }
	
	header div p { font-size: 1em; }
	
	section.project-details .video { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px;}

	section.project-details .video iframe {	position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	
}

@media screen and (max-width: 500px) {
	
	.index { height: 415px; }
	
	.background { height: 415px; background: #284865 url(/assets/header3_500.png) no-repeat center bottom; }
	
	h1 { font-size: 1.6em; }
	
	h2 { font-size: 1.2em; }
	
	.show {	height: 20px; }

	header .hero { top: 80px; }
	
	header div a.show-btn { top: 10px; }
	
	section { padding: 0 20px; }
	
	
	section.about div {	padding: 0 20px; }
	
	section.about div { position: inherit; }
	
	section.about div .picture { float: none; width: 150px; }
	
	section.about div aside.caption { position: inherit;  float: none;  width: 100%; margin: 20px 0; font-size: 1em; }
	
	section.about div aside.caption blockquote p::before { position: inherit; font-size: 3em;}
	
	section.about div aside.caption blockquote { position: inherit; min-width: inherit; text-align: right;}
	
	section.about div article {	padding: 0; margin: 30px 0; font-size: .8em;}
	
	
	section.skills article { padding: 0 20px; margin-top: 10px;}
	
	section.skills article table { font-size: .4em; }
	
	section.skills article .back { margin-bottom: 6px; height: 18px; border-radius: 3px; }

	section.skills article .level {	height: 18px; border-radius: 3px; }

	section.skills article .value { line-height: 18px; font-size: .5em; }

	section.skills article .skill {	line-height: 18px; padding-left: 10px; font-size: .7em; }
	
	
	section.work aside { margin-left: 20px; }
	
	section.work aside img { max-width: 200px; }
	
	section.work aside .trans { width: 200px; height: 200px; font-size: .8em; }
	
	/*TODO: incluir hashpopup para mobile*/
	
	
	footer a { font-size: .7em; }

	footer img { width: 32px; margin: 0 20px; }

	footer .copyright { font-size: .7em; padding: 10px 0; }
	
	
	/* Show page */
	
	section.project-details { padding-top: 0; padding-bottom: 80px; }
	
	section article .abstract {	font-size: 1em; margin-bottom: 15px; }
	
	section.project-details .story { margin: 10px 20px 0 20px; font-size: .8em; }
	
	section.project-details .facts { font-size: 1.2em; }
	
	section.project-details .project-nav-back {	font-size: .8em; }

	section.project-details .project-nav-next {	font-size: .8em; }
	
	section.project-details .top-nav { display: none; }
	
}



