<span class="background"></span>

<header class="index">

	<a class="logo" title="Fabiano Paiva" href="#"><h3>Fabiano Paiva</h3></a>
	<div class="hero">
		<h2>Hey, I´m Fabiano Paiva</h2>
		<p>a business designer with engineering background and a strong entrepreneurial spirit currently based in Helsinki.<br /><br />
		Take a look at this selection of projects I worked on.</p>
		<a class="show-btn" title="Show me" href="#">Show me</a>
	</div>

</header>



<section class="about">

	<h1>About me</h1>
<div>
	<aside class="picture">
	    <img alt="That's me!" src="/assets/fabiano.png">
	</aside>
	
	<aside class="caption">
		<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo ipsum quis augue blandit convallis. </p>
		<blockquote>
			<p>Suspendisse at neque ante. Curabitur in pharetra turpis.</p>
		</blockquote>
	</aside>
	
	<article>
		<p>Nullam ultricies justo ut nibh hendrerit, nec finibus ante porttitor. Donec sit amet libero a nulla tempus laoreet a quis elit. Aliquam convallis enim vel arcu lacinia euismod eget vitae neque. Morbi porta augue interdum pulvinar imperdiet. Ut aliquet tempus odio, nec volutpat lacus consectetur non. Cras bibendum urna sed tortor efficitur, a tristique dolor porttitor. Vivamus malesuada enim ac sapien porttitor, ac iaculis magna tristique. Integer ex erat, hendrerit non fringilla eget, tristique vitae dui. Vestibulum ante diam, interdum ac erat posuere, lacinia dignissim nisl. Curabitur non lacinia augue, ut pretium sem. Morbi diam diam, rhoncus pretium ligula eu, imperdiet volutpat velit.</p>
	</article>
</div>
</section>

<hr>

<section class="skills">

	<h1>Skills</h1>

	<article>
		
		<% @skills.each do |skill| %>
			
			<div class="back">
				<div class="level" style="width: <%= skill.level%>%;">
					<div class="value"><%= skill.level %>%</div>
					<div class="skill"><%= skill.skill_name %></div>
				</div>
			</div>
		
		<% end %>

	</article>

</section>

<hr>

<section class="work">

	<h1>Selected Work</h1>

	<div>
		
		<% @projects.each do |project| %>
		
			<aside>
				<%= link_to(image_tag(project.thumbnail, :alt => project.title), {:action => 'show', :id=> project.id}) %>
			</aside>
		
		<% end %>
	
	</div>

</section>