<header class="show">

	<a class="logo" title="Fabiano Paiva" href="#"><h3>Fabiano Paiva</h3></a>			

</header>


<section class="project-details">

	<a class="project-nav-back" href="#">Previous project</a>
	<a class="project-nav-next" href="#">Next project</a>

	<!-- this area will import data from the database according to the project the user wants to visualize -->

	<article>
		<h1>Nanomaji</h1>
		<h2>Water purification in Tanzania</h2>
		<p class="abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo ipsum quis augue blandit convallis. Suspendisse at neque ante. Curabitur in pharetra turpis.</p>
		<aside>
			<div class="showroom">
				<img alt="image1" src="/assets/nanomaji1.png">
				<img alt="image2" src="/assets/nanomaji2.png">
				<span></span>
				<p class="story">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo ipsum quis augue blandit convallis. Suspendisse at neque ante. Curabitur in pharetra turpis. Nullam ultricies justo ut nibh hendrerit, nec finibus ante porttitor. Donec sit amet libero a nulla tempus laoreet a quis elit.<br /><br />
				Aliquam convallis enim vel arcu lacinia euismod eget vitae neque. Morbi porta augue interdum pulvinar imperdiet. Ut aliquet tempus odio, nec volutpat lacus consectetur non. Cras bibendum urna sed tortor efficitur, a tristique dolor porttitor. Vivamus malesuada enim ac sapien porttitor, ac iaculis magna tristique.<br /><br />
				Integer ex erat, hendrerit non fringilla eget, tristique vitae dui. Vestibulum ante diam, interdum ac erat posuere, lacinia dignissim nisl. Curabitur non lacinia augue, ut pretium sem. Morbi diam diam, rhoncus pretium ligula eu, imperdiet volutpat velit.
				</p>
			</div>
		</aside>
		<p class="facts">2 teams - 11 members - 20 days in Tanzania - 8 months of project - 2 startup competitions - 1 prize</p>
	</article>

	<a class="project-nav-back" href="#">Previous project</a>
	<a class="project-nav-next" href="#">Next project</a>

</section>
